@font-face {
  font-family: 'Eina01-Regular';
  src: local('Eina01-Regular'), url(../../../Fonts/Eina01-Regular/Eina01-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Evogria";
  src: local('Evogria'), url(../../../Fonts/evogria-cufonfonts/Evogria.otf) format('opentype');
}

@font-face {
  font-family: "Roboto-Condensed";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
}

@font-face {
  font-family: "Saira-Regular";
  src: local('Evogria'), url(../../../Fonts/Saira_Semi_Condensed/SairaSemiCondensed-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Saira-Bold";
  src: local('Evogria'), url(../../../Fonts/Saira_Semi_Condensed/SairaSemiCondensed-Bold.ttf) format('truetype');
}

.flexbox-maineldrivna-container {
  /* border: 2px solid red; */
  background-color: #4054B1;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.flexbox-maineldrivna-container h2 {
  font-family: "Saira-Regular";
  font-style: normal;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  color: white;
  text-align: center;
}

.flexbox-maineldrivna-container p {
  font-family: "Saira-Regular";
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: white;
}