@font-face {
  font-family: 'Eina01-Regular';
  src: local('Eina01-Regular'), url(../../../Fonts/Eina01-Regular/Eina01-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Evogria";
  src: local('Evogria'), url(../../../Fonts/evogria-cufonfonts/Evogria.otf) format('opentype');
}

@font-face {
  font-family: "Roboto-Condensed";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
}

@font-face {
  font-family: "Saira-Regular";
  src: local('Evogria'), url(../../../Fonts/Saira_Semi_Condensed/SairaSemiCondensed-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Saira-Bold";
  src: local('Evogria'), url(../../../Fonts/Saira_Semi_Condensed/SairaSemiCondensed-Bold.ttf) format('truetype');
}

.flexbox-mainaterforsaljare-container {
  border: 2px solid red;
  background-color: #4054B1;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.flexbox-mainaterforsaljare-container h2 {
  border: 2px solid red;
  font-family: "Saira-Bold";
  font-style: normal;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-top: unset;
}

.flexbox-mainaterforsaljare-container p {
  border: 2px solid red;
  font-family: "Saira-Regular";
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: white;
  text-align: center;
}

.flexbox-mainaterforsaljare-container button {
  /* border: 2px solid red; */
  width: 221px;
  height: 35px;
  border-radius: 25px;
  border: 2.5px solid white;
  background-color: #4054B1;
  font-family: "Saira-Bold";
  font-style: normal;
  font-size: 14px;
  line-height: 29px;
  font-weight: 500;
}

.flexbox-mainaterforsaljare-container button a:-webkit-any-link {
  /* border: 2px solid red; */
  display: block;
  border-radius: 25px;
  background-color: #4054B1;
  color: white;
  text-decoration: none;
}

.flexbox-mainaterforsaljare-container button:hover {
  background-color: white;
}

.flexbox-mainaterforsaljare-container button:hover a:-webkit-any-link {
  background-color: white;
  color: black;
}