body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (max-width: 650px) {
  body .flexbox-content-wrapper {
    padding-bottom: 465px;
  }
}

.flexbox-content-wrapper {
  border: 2px solid red;
  min-height: 59vh;
  width: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  margin-top: 100px;
  /* padding-bottom: 450px; */
  padding-bottom: 311px;
  z-index: 1;
}

/* .flexbox-content-wrapper {
  border: 2px solid red; commented out
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  padding-top: 75px;
  padding-bottom: 620px; commented out
} */